{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
tail -F {{ logtail_file }}
{% endblock title %}
{% block content %}
{% endblock content%}

{% block script %}
  <script>
    var _newLinesCount = 0;
    var _isWindowFocused = true;

    window.addEventListener('blur', function() {
        _isWindowFocused = false;
    }, true);
    window.addEventListener('focus', function() {
        _isWindowFocused = true;
        _newLinesCount = 0;
        Tinycon.setBubble(0);
    }, true);

    var _isScrolledBottom = function() {
        var currentScroll = document.documentElement.scrollTop || document.body.scrollTop;
        var totalHeight = document.body.offsetHeight;
        var clientHeight = document.documentElement.clientHeight;
        return totalHeight <= currentScroll + clientHeight;
      };

    var socket = new WebSocket('ws://' + window.location.host + '/logs/');

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    socket.onmessage = function message(event) {
      var data = JSON.parse(event.data);
      var line = data['line'];
      var wasScrolledBottom = _isScrolledBottom();
      if (line != '') {
          $(".log").append('<div class="line">'+'<p class="inner-line">'+line+'</p>'+'</div>').fadeIn();
      }
      // Search 
      self.logChildNodes = document.getElementById("log").childNodes;

      // unread
      if (_newLinesCount < 99 && ! _isWindowFocused) {
          _newLinesCount += 1;
          Tinycon.setBubble(_newLinesCount);
      }

      if (wasScrolledBottom) {
        window.scrollTo(0, document.body.scrollHeight);
      }
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }

  </script>
  <script src="{% static 'tail/js/search.js' %}"></script>
{% endblock script %}
