{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
tail -F
{% endblock title %}

{% block fluid %}
<div class="row-fluid">
  <div class="tabbable tabs-left">
      <!-- Nav tabs -->
      <ul id="LogTab" class="nav nav-tabs" role="tablist">
        {% for log_name in log_list %}
        <li role="presentation" class="{%if forloop.counter == 1 %}active{% endif %}">
          <a href="#{{ log_name }}" aria-controls="{{ log_name }}" role="tab" data-toggle="tab">{{ log_name }}</a></li>
        {% endfor %}
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        {% for log_name in log_list %}
        <div role="tabpanel" class="{%if forloop.counter == 1 %}tab-pane active{% else %}tab-pane{% endif %}" id="{{ log_name }}">
            <pre id="logs_{{ log_name }}" class="{{ log_name }}"></pre>
        </div>
        {% endfor %}
      </div>
  </div>
</div>

{% endblock fluid %}

{% block script %}
  <script>
    var _newLinesCount = 0;
    var _isWindowFocused = true;

    window.addEventListener('blur', function() {
        _isWindowFocused = false;
    }, true);
    window.addEventListener('focus', function() {
        _isWindowFocused = true;
        _newLinesCount = 0;
        Tinycon.setBubble(0);
    }, true);

    var _isScrolledBottom = function() {
        var currentScroll = document.documentElement.scrollTop || document.body.scrollTop;
        var totalHeight = document.body.offsetHeight;
        var clientHeight = document.documentElement.clientHeight;
        return totalHeight <= currentScroll + clientHeight;
      };

    var socket = new WebSocket('ws://' + window.location.host + '/logs/');

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    socket.onmessage = function message(event) {
      var data = JSON.parse(event.data);
      var wasScrolledBottom = _isScrolledBottom();
 
      self.logChildNodes = [];
      {% for log_name in log_list %}
        var line = data['{{ log_name }}'];
        if (line !== undefined && line != '') {
        //if (line != '') {
            $(".{{ log_name }}").append('<div class="line">'+'<p class="inner-line">'+line+'</p>'+'</div>').fadeIn();
            var log_count = $(".{{ log_name }}").children().length;
            if (log_count > {{ lines_displayed }} ) {
                $(".{{ log_name }}").find('div:lt(1)').remove();
            }
        }
        // search
        self.logChildNodes = self.logChildNodes.concat(document.getElementById("logs_{{ log_name }}").childNodes);
      {% endfor %}

      // unread
      if (_newLinesCount < 99 && ! _isWindowFocused) {
          _newLinesCount += 1;
          Tinycon.setBubble(_newLinesCount);
      }

      if (wasScrolledBottom) {
        window.scrollTo(0, document.body.scrollHeight);
      }
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }

  </script>
  <script>
    $(document).ready(function() {
       $('#LogTab a').on('shown.bs.tab', function (e) {
        //e.target // newly activated tab
        //e.relatedTarget // previous active tab
        window.scrollTo(0, document.body.scrollHeight);
      })

    });

  </script>
  <script src="{% static 'tail/js/search.js' %}"></script>
{% endblock script %}
